 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/111.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 723px;
}

.u-section-1 .u-shape-1 {
  height: 476px;
  width: 311px;
  background-image: linear-gradient(#86dbf6, #234152);
  margin: 116px 90px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 563px;
  min-height: 607px;
  height: auto;
  margin: -476px auto 0 29px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 143px 97px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-image-1 {
  width: 346px;
  height: 476px;
  object-position: 50% 6.87%;
  margin: -576px 129px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-shape-1 {
    height: 511px;
    position: relative;
    width: 405px;
    border-radius: 1px;
    margin-top: 57px;
    margin-left: 535px;
  }

  .u-section-1 .u-group-1 {
    position: relative;
    width: 464px;
    min-height: 628px;
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 3.75rem;
    margin-top: 65px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 8px;
  }

  .u-section-1 .u-image-1 {
    width: 411px;
    height: 527px;
    position: relative;
    margin-top: -552px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-1 .u-shape-1 {
    height: 553px;
    width: 451px;
    margin-top: 383px;
    margin-left: 269px;
  }

  .u-section-1 .u-group-1 {
    min-height: 378px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 5px;
  }

  .u-section-1 .u-image-1 {
    width: 450px;
    height: 563px;
    margin-top: 64px;
    margin-right: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-1 .u-shape-1 {
    width: 432px;
    margin-top: 462px;
    margin-left: 108px;
  }

  .u-section-1 .u-group-1 {
    min-height: 370px;
    margin-top: -971px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 455px;
    margin-top: 120px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-1 .u-shape-1 {
    height: 385px;
    width: 291px;
    margin-top: 450px;
    margin-right: 29px;
    margin-left: 49px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -755px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 278px;
    height: 397px;
    margin-top: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 427px;
}

.u-section-2 .u-image-1 {
  width: 650px;
  height: 445px;
  margin: -89px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 392px;
  height: 244px;
  margin: -222px auto 0 325px;
}

.u-section-2 .u-group-1 {
  min-height: 404px;
  width: 435px;
  height: auto;
  margin: -355px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 98px 17px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-2 .u-image-1 {
    position: relative;
    height: 450px;
  }

  .u-section-2 .u-image-2 {
    width: 260px;
    height: 243px;
    position: relative;
    margin-top: -148px;
    margin-left: 275px;
  }

  .u-section-2 .u-group-1 {
    position: relative;
    min-height: 413px;
    width: 359px;
    margin-top: -413px;
    margin-bottom: 20px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    height: 349px;
  }

  .u-section-2 .u-image-2 {
    width: 210px;
    height: 202px;
    margin-top: -93px;
    margin-left: 126px;
  }

  .u-section-2 .u-group-1 {
    min-height: 396px;
    width: 331px;
    margin-top: -316px;
    margin-bottom: 50px;
    margin-left: 389px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 139px;
    margin-right: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-2 .u-image-1 {
    width: 408px;
    height: 385px;
    margin-top: -46px;
  }

  .u-section-2 .u-image-2 {
    width: 246px;
    height: 220px;
    margin-top: -127px;
    margin-left: 295px;
  }

  .u-section-2 .u-group-1 {
    min-height: 358px;
    margin-top: 0;
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 90px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-image-1 {
    width: 283px;
    height: 281px;
    margin-top: -47px;
  }

  .u-section-2 .u-image-2 {
    width: 198px;
    height: 192px;
    margin-top: -99px;
    margin-right: 0;
    margin-left: 142px;
  }

  .u-section-2 .u-group-1 {
    min-height: 303px;
    margin-bottom: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 10px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 343px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 343px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 35px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0;
  position: relative;
  width: 40px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 343px;
  background-position: 0% 0%;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 35px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-line-2 {
  transform-origin: left center 0;
  position: relative;
  width: 40px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 30px 0 20px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 343px;
  background-position: 0% 0%;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 35px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-3 .u-line-3 {
  transform-origin: left center 0;
  position: relative;
  width: 40px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 30px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-3 .u-line-1 {
    width: 33px;
  }

  .u-section-3 .u-icon-2 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-3 .u-line-2 {
    width: 33px;
  }

  .u-section-3 .u-icon-3 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-3 .u-line-3 {
    width: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-3 .u-line-1 {
    width: 25px;
  }

  .u-section-3 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-3 .u-line-2 {
    width: 25px;
  }

  .u-section-3 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-3 .u-line-3 {
    width: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-icon-1 {
    height: 38px;
    width: 38px;
  }

  .u-section-3 .u-line-1 {
    width: 24px;
  }

  .u-section-3 .u-icon-2 {
    height: 38px;
    width: 38px;
  }

  .u-section-3 .u-line-2 {
    width: 24px;
  }

  .u-section-3 .u-icon-3 {
    height: 38px;
    width: 38px;
  }

  .u-section-3 .u-line-3 {
    width: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-icon-1 {
    height: 32px;
    width: 32px;
  }

  .u-section-3 .u-line-1 {
    width: 20px;
  }

  .u-section-3 .u-icon-2 {
    height: 32px;
    width: 32px;
  }

  .u-section-3 .u-line-2 {
    width: 20px;
  }

  .u-section-3 .u-icon-3 {
    height: 32px;
    width: 32px;
  }

  .u-section-3 .u-line-3 {
    width: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 327px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 32px 0 52px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 300px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-1 {
  height: 156px;
  width: 159px;
  margin: 72px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: -136px 30px 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 1px;
  margin: 20px 30px 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 300px;
  background-position: 0% 0%;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-2 {
  height: 156px;
  width: 159px;
  margin: 72px auto 0;
}

.u-section-4 .u-text-3 {
  margin: -136px 30px 0;
}

.u-section-4 .u-text-4 {
  letter-spacing: 1px;
  margin: 20px 30px 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 300px;
  background-position: 0% 0%;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-3 {
  height: 156px;
  width: 159px;
  margin: 72px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 3rem;
  margin: -136px 30px 0;
}

.u-section-4 .u-text-6 {
  letter-spacing: 1px;
  margin: 20px 30px 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 300px;
  background-position: 0% 0%;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-4 {
  height: 156px;
  width: 159px;
  margin: 72px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 3rem;
  margin: -136px 30px 0;
}

.u-section-4 .u-text-8 {
  letter-spacing: 1px;
  margin: 20px 30px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    position: relative;
  }

  .u-section-4 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-icon-2 {
    position: relative;
  }

  .u-section-4 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-icon-3 {
    position: relative;
  }

  .u-section-4 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-icon-4 {
    position: relative;
  }

  .u-section-4 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 92px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 0 40px;
}.u-section-6 .u-sheet-1 {
  min-height: 79px;
}

.u-section-6 .u-text-1 {
  margin: 30px 0 10px;
}.u-section-7 .u-sheet-1 {
  min-height: 385px;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 193px;
  margin: 148px auto 0;
}

.u-section-7 .u-gallery-1 {
  height: 375px;
  margin-top: -341px;
  margin-bottom: 10px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-7 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-gallery-1 {
    margin-top: -335px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    width: 540px;
    height: 182px;
  }

  .u-section-7 .u-gallery-1 {
    margin-top: -330px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 340px;
    height: 115px;
  }

  .u-section-7 .u-gallery-1 {
    margin-top: -263px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 400px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 49px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-map-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 340px;
}

.u-section-8 .u-map-2 {
  height: 400px;
  position: absolute;
  top: 400px;
  left: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-8 .u-map-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 79px;
}

.u-section-9 .u-text-1 {
  margin: 30px 0 10px;
}.u-section-10 .u-sheet-1 {
  min-height: 385px;
}

.u-section-10 .u-image-1 {
  width: 570px;
  height: 193px;
  margin: 148px auto 0;
}

.u-section-10 .u-gallery-1 {
  height: 375px;
  margin-top: -336px;
  margin-bottom: 5px;
}

.u-section-10 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-10 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-10 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-10 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-10 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-10 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-10 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-gallery-1 {
    margin-top: -335px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-1 {
    width: 540px;
    height: 182px;
  }

  .u-section-10 .u-gallery-1 {
    margin-top: -325px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    width: 340px;
    height: 115px;
  }

  .u-section-10 .u-gallery-1 {
    margin-top: -258px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 400px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-map-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 340px;
}

.u-section-11 .u-map-2 {
  height: 400px;
  position: absolute;
  top: 400px;
  left: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-11 .u-map-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 79px;
}

.u-section-12 .u-text-1 {
  margin: 30px 0 10px;
}.u-section-13 .u-sheet-1 {
  min-height: 385px;
}

.u-section-13 .u-image-1 {
  width: 570px;
  height: 193px;
  margin: 148px auto 0;
}

.u-section-13 .u-gallery-1 {
  height: 375px;
  margin-top: -336px;
  margin-bottom: 5px;
}

.u-section-13 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-13 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-13 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-13 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-13 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-13 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-13 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-13 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-13 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-13 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-13 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 20px;
}

.u-section-13 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-13 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-gallery-1 {
    margin-top: -335px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-image-1 {
    width: 540px;
    height: 182px;
  }

  .u-section-13 .u-gallery-1 {
    margin-top: -325px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-image-1 {
    width: 340px;
    height: 115px;
  }

  .u-section-13 .u-gallery-1 {
    margin-top: -258px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 400px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-14 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-14 .u-text-1 {
  margin: 0;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-14 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-14 .u-map-1 {
  margin-top: 2px;
  margin-bottom: 0;
  height: 340px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-14 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 239px;
  }
}